<%- include('common/header'); -%>

<div style="background-color: #0074D9; padding: 200px 20px;">
    <h3>Welcome to Our Website</h3>
    <p>Fardin Tazbeed</p>
    <a href="/information">Information</a>
</div>

<%- include('common/footer'); -%>